<!DOCTYPE html>
<html>
<head>
	<%- include _header.ejs %>
</head>

<body>

<%- include _nav_inner.ejs %>
<%- include _about.ejs %>

<div class="container-fluid">
  <div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
	  <ul class="nav nav-sidebar">
		<li class="active"><a href="/dashboard/#dashboard-section">Home</a></li>
		<li><a href="/dashboard/#create-section">Create a Trip</a></li>
	  </ul>
	  <ul class="nav nav-sidebar">
		<li><a href="">My profile</a></li>
		<li><a href="">My trips</a></li>
	  </ul>
	</div>
	
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  
		<div id="dashboard-section"><%- include _trips.ejs -%></div>
		<div id="create-section"><%- include _create.ejs -%></div>
	  
	</div><!-- end main content -->
  </div>
</div>

	
<%- include _footer.ejs %>
<script src="/js/dashboard.js"></script>
<script src="/js/create.js"></script>

</html>