
<!DOCTYPE html>
<html>
<head>
	<%- include _header.ejs %>
</head>

<body>
	<%- include _nav_outer.ejs %>
	<%- include _about.ejs %>

	<%- include _register.ejs %>
</body>
	
<%- include _footer.ejs %>
<script src="/js/registration.js"></script>
<script src="/js/login.js"></script>

</html>